@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Roboto' , sans-serif;
}

.avatar {
    width: 150px;
}
img {
    border-radius: 50%;
    border: 1px solid white;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ecf8f8;
    color: #011627;
    border-bottom: 6px solid #283618;
    border-radius: 20px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.3);
    transition: width 1s linear 1s;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.card:hover{
    background: #bde0fe;
    width: 600px;
  
   
}

.text-div {
text-shadow: 1px 1px 2px #8ecae6;

}
.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
